<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Enviroment" value="PLPL" />
    <add key="ExpierdSession" value="600" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServiceMode" value="True"/>
    <add key="NezakimUser" value="MGPMOSER"/>
    <add key="NezakimPassword" value="abc123"/>
    <add key="NezakimWorkerID" value="500"/>
    <add key="NezakimStationID" value="21"/>
    <add key="EnviromentExit" value="False"/>
    <add key="MigrashEmail" value="shimon@champ.co.il,razha@champ.co.il"/>
    <add key="TimeoutMilliseconds"       value="30000"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="myBasicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="BasicHttpBinding_ISignService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"/>
        <binding name="lprControllerSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="lprControllerSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="lprControllerSoap2"/>
        <binding name="lprControllerSoap3"/>
      </basicHttpBinding>
      
    </bindings>
    <services>
      <service name="WCFCarReceivingAppTest.WCFCarReceivingAppTest">
        <endpoint address="" binding="basicHttpBinding" contract="CarRecivingApp.Prototypes.IService" behaviorConfiguration="EndPointBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" behaviorConfiguration="EndPointBehavior" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Design_Time_Addresses/WCFCarReceivingAppTest/CarAppService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndPointBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://Comsignvip.champion.co.il/Signature/signature.svc"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISignService"
         contract="ISignService" name="BasicHttpBinding_ISignService" />
      <endpoint address="http://champ-iis/wslpr/lprcontroller.asmx"
			  binding="basicHttpBinding" bindingConfiguration="lprControllerSoap"
			  contract="ServiceReference1.lprControllerSoap" name="lprControllerSoap" />
      <endpoint address="http://champ-iis/wslpr/lprcontroller.asmx"
			  binding="basicHttpBinding" bindingConfiguration="lprControllerSoap1"
			  contract="lprController.lprControllerSoap" name="lprControllerSoap1" />
      <endpoint address="http://champ-iis/wslpr/lprcontroller.asmx"
			  binding="basicHttpBinding" bindingConfiguration="lprControllerSoap2"
			  contract="lprController.lprControllerSoap" name="lprControllerSoap2" />
      <endpoint address="http://champ-iis/wslpr/lprcontroller.asmx"
			  binding="basicHttpBinding" bindingConfiguration="lprControllerSoap3"
			  contract="lprController.lprControllerSoap" name="lprControllerSoap3" />
    </client>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp" />
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>